// colors
@import 'scss/colors';


body{
	color: $bodyColor;
	font-family: $basefont;
	font-size: $bodyFontSize;
	line-height: 1.375rem;
	background-color: $colors_light;
	max-width: $sitemaxwidth;
	margin: 0 auto;

}

h1,
h2,
h3,
h4,
{
	font-family: $headerfont;
	text-align: center;
	line-height: 1;
	color: $colors_primary;
}
h1{
	font-size: 2rem;
	line-height: 1.875rem;
}
h2{
	font-size: 1.625rem;
}
h3{
	font-size: 1.5rem;
}
h4{
	font-size: 1.25rem;
	line-height: 1.375rem;
}
h5{
	font-size: 0.875rem;
	letter-spacing: 0.3rem;
}
h6{
	font-size: 0.875rem;
	letter-spacing: 0.3rem;
	font-family: $basefont_bold;
}
p{
	color: $colors_primary;
	font-family: $basefont;
}
li,ol{
	//font-size: 1rem;
	//line-height: 1.25rem;
	//color: $colors_primary_highlight;
	span{
		//color: $bodyColor;
	}
}
ol{

}
.bold{
	font-family: $basefont_bold;
}
.hero{
	font-size: 2.813rem;
	line-height: 2.88rem;
	vertical-align: middle;
	text-align: center;
	font-family: $headerfont;
}
blockqoute, .blockqoute{
	font-size: 1.525rem;
	color: $colors_primary;
	line-height: 1.75rem;
	text-align: left;
}
// tablet
@media only screen and ( min-width: $break_mid_min ) { 
  	h1{
		font-size: 2.5rem;
		line-height: 2.188rem;
	}
	h2{
		font-size: 1.875rem;
	}
	h3{
		font-size: 1.75rem;
	}
	.hero{
		font-size: 5.125rem;
		line-height: 4rem;
	}
	blockqoute, .blockqoute{
		font-size: 2rem;
		line-height: 2.250rem;
	}

}
#page-container{
	overflow: hidden;
}
@media screen and (max-width: $break_mid) {
.hide-tablet {display: none!important;}
}
@media screen and (max-width: $break_mid) {
.hide-mobile {display: none!important;}
}
@media screen and (max-width: $break_mini) {
.hide-mini {display: none!important;}
}

.verticalAlign{
	@include vertical-align();
}
.section-divider{
	line-height: 0;
    padding: 0;
    margin: 0;
    height: 2px;
}
@media screen and (min-width: $break_mid) {
	.mid-width-content{
		max-width: 66%;
		margin: 0 auto;
	}
}



// divi columns
.ten-columns .et_pb_module {width: 10%; float: left;}
.nine-columns .et_pb_module {width: 11.11%; float: left;}
.eight-columns .et_pb_module {width: 12.5%; float: left;}
.seven-columns .et_pb_module {width: 14.28%; float: left;}
.six-columns .et_pb_module {width: 16.66%; float: left;}
.five-columns .et_pb_module {width: 20%; float: left;}

@media (max-width: 980px){
.ten-columns .et_pb_module {width: 20%;}
.nine-columns .et_pb_module {width: 33.3%;}
.eight-columns .et_pb_module {width: 25%;}
.seven-columns .et_pb_module {width: 25%;}
.six-columns .et_pb_module {width: 33.3%;}
.five-columns .et_pb_module {width: 33.3%;}
}
 
@media all and (max-width: 767px) {
.ten-columns .et_pb_module {width: 100%;}
.nine-columns .et_pb_module {width: 100%;}
.eight-columns .et_pb_module {width: 100%;}
.seven-columns .et_pb_module {width: 100%;}
.six-columns .et_pb_module {width: 100%;}
.five-columns .et_pb_module {width: 100%;}
}


/* Smartphones (landscape) ----------- */
@media (max-width: 980px) {
	.twoX2-mobile .et_pb_column{
		max-width: 50% !important;
	}
	.twoX2-mobile .et_pb_column.et_pb_column_1_3:nth-of-type(3){
		margin: 0 25%;
	}
}
@media (max-width: 479px){
	.et_pb_section .et_pb_row.twoX2-mobile div.et_pb_column.et_pb_column_1_4 {
	    width: 47.25% !important;
	}
}



@media only screen and ( min-width: $break_mini_min ) and ( max-width: $break_small ) {
	.twoX2-tablet .et_pb_column{
		max-width: 50% !important;
	}
	.twoX2-tablet .et_pb_column.et_pb_column_1_3:nth-of-type(3){
		margin: 0 25%;
	}
}
@media (max-width: 479px){
	.et_pb_section .et_pb_row.twoX2-tablet div.et_pb_column.et_pb_column_1_4 {
	    width: 47.25% !important;
	}
}

@media only screen and ( min-width: $break_small ) and ( max-width: $break_mid ) {
	.threeX3-tablet .et_pb_column{
		max-width: 29.666% !important;
		margin-right: 5.5%
	}
	.threeX3-tablet .et_pb_column.et_pb_column_1_3:nth-of-type(3){
		//margin: 0 5.5%;
	}
}
@media (max-width: 479px){
	.et_pb_section .et_pb_row.threeX3-tablet div.et_pb_column.et_pb_column_1_4 {
	    width: 100%;
	}
}

.section-divider{
	height: 2px;
	background:  $colors_primary;
	width: 100%;
}
.flex-wrap{
	display: flex;
    flex-wrap: wrap;
	.et_pb_blurb{
		margin: 0;
	    flex-direction: column;
	    display: flex;
	}
}

.grungerow{
	
}
.et_pb_row.et_pb_row_fullwidth.fullWidthRow{
	width: 100% !important;
	max-width: 100% !important;

}

.fullwidthrow.et_pb_row.et_pb_row_2.et_pb_row_fullwidth{
	width: 100% !important
}


.centerText, .center, .centerTxt{
	text-align: center;
}
.boldText, .bold, .boldTxt{
	font-family: $basefont_bold;
}

img { 
image-rendering:optimizeSpeed;             /* Legal fallback */
image-rendering:-moz-crisp-edges;          /* Firefox        */
image-rendering:-o-crisp-edges;            /* Opera          */
image-rendering:-webkit-optimize-contrast; /* Safari         */
-ms-interpolation-mode: bicubic; /* accursed IE */
}

sup {  font-size: .5rem; vertical-align: top; line-height: 275%; }

#text-abb svg circle { r: 7; stroke: white; stroke-width: 1; pointer-events: none; }

#wpseo_sitemap h3, #wpseo_sitemap h4 { text-align: left; }

div.bios-wrapper div.bio-block { width: 49.99%; }

#text-abb svg { width: 30px !important; height: 30px !important; }

.itemjump { height: 0px; width: 0px; position: absolute; bottom: 50px; }

div.stay-connected-home-footer {
    min-height: 315px;
}

/* Text meant only for screen readers. */
.screen-reader-text, .submit-nex-form radio {
    border: 0;
    clip: rect( 1px, 1px, 1px, 1px );
    clip-path: inset( 50% );
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal;
}

.submit-nex-form radio {
    display: inline-block !important;
}

*:focus {
  outline: 1px solid a3ca7e;
}

::selection {
    color: white; 
    background: #63513d;
}

::-moz-selection { /* Code for Firefox */
    color: white;
    background: #63513d;
}









