


.et_pb_button{
	font-family: $headerfont;
}
.ctaBtn{
    display: inline-block;
    font-family: $headerfont;
    background-color: $colors_menu_tertiary1;
    color:$colors_white;
    padding: 6px 30px 6px 20px;
    position: relative;
    &:hover{
        background-color: $colors_primary;
    }
    
    &::after{
        //button-arrow-orange.svg
        content: url(assets/images/button-arrow.svg);
        position: absolute;
        right: 8px;
        top: 7px;
        bottom: 7px;
        width: 16px;
    }
    &.reversed-btn{
        color:$colors_menu_tertiary1;
        background-color: $colors_white;
        &:hover{
            background-color: $colors_primary;
        }
        &::after{
            //button-arrow-orange.svg
            content: url(assets/images/button-arrow-orange.svg);
        }
    }

}







