/***
 *                     888                           
 *                     888                           
 *                     888                           
 *     .d8888b .d88b.  888  .d88b.  888d888 .d8888b  
 *    d88P"   d88""88b 888 d88""88b 888P"   88K      
 *    888     888  888 888 888  888 888     "Y8888b. 
 *    Y88b.   Y88..88P 888 Y88..88P 888          X88 
 *     "Y8888P "Y88P"  888  "Y88P"  888      88888P' 
 *                                                   
 *                                                   
 *                                                   
 */

// primary
$colors_primary_highlight : #9a371f; // red orange
$colors_primary : #63513d; // brown
$colors_primary_cta : #fcda56; // gold
$colors_sedondary: #9a371f; // orange // is this used
$colors_sedondary_cta : #51b0a5; // teal
$colors_tertiary : #717d00; //#93d270; // green // is this used
$colors_nav: #9a371f;

// added menu colors
$colors_menu_tertiary1 : #717d00; //#aebf20; // Olive green
$colors_menu_tertiary2 : #917be9; // purple
$colors_menu_tertiary3 : #2ea3f2; // blue

// NEATURALS


// bgs
$colors_white : #ffffff; // white
$colors_lighter : #fcf9f0; // Light Yellow
$colors_light : #f3f3f3; // Light Grey
$colors_: #fff9f1; // old lace

$colors_mid : #aca69c; // warm grey
$colors_black : #3b3b3b; // black 