.home{
	.versionA,.versionB{
		display: none;
	}
}

.hero-wrappper{
	.get-started-cta-btn{
		@include vertical-align();
	}
}



// carousel
.slick-dots{display: none !important;}
.featured-content-slider .slick-arrow{text-indent:-99999px; padding:0px !important; margin:0px !important; border-radius:0px !important}
.featured-content-slider button.slick-arrow {background-color: transparent!important; width:15px; height:26px; position:absolute; z-index:999;
border:0px !important;padding:0 !important; margin:0px !important; border-radius:0px !important}
.featured-content-slider button.slick-next, .featured-content-slider button.slick-next:hover,  .featured-content-slider button.slick-next:focus{background:url(assets/images/arrow-right.png) 0 0 no-repeat !important; background-size:15px 26px !important;}
.featured-content-slider button.slick-prev, .featured-content-slider button.slick-prev:hover, .featured-content-slider button.slick-prev:focus{background:url(assets/images/arrow-left.png) 0 0 no-repeat !important;background-size:15px 26px !important;}
.featured-content-slider.design-4 button.slick-next, .featured-content-slider.design-4 button.slick-next:hover,  .featured-content-slider.design-4 button.slick-next:focus{background:url(assets/images/arrow-right.png) 0 0 no-repeat !important; background-size:15px 26px !important;}
.featured-content-slider.design-4 button.slick-prev, .featured-content-slider.design-4 button.slick-prev:hover, .featured-content-slider.design-4 button.slick-prev:focus{background:url(assets/images/arrow-left.png) 0 0 no-repeat !important;background-size:15px 26px !important;}

.slick-disabled {
    opacity: 0;
    pointer-events:none;
}
.award-winning-carousel{
	.featured-content-image{
		img{
			width: auto;
		}
	}
}


// areas of expertise
.areas-of-expertise{
	h4{
		color: $colors_sedondary_cta;
	}
	.et_pb_main_blurb_image{
		margin-bottom: 0;
	}
}

.areas-of-expertise{
	@media all and (max-width: 767px) {
		&.six-columns .et_pb_module {
			width: 50%;
		}
	}
	h4{
		color: $colors_sedondary_cta;
		font-family: $basefont_bold;
		font-size: 1rem;
	}
}
// bios
.bios-wrapper{
	.bio-block{
		width: 32.99%; float: left;
		margin-bottom: 1rem !important;
		transition: filter .3s ease-in-out;
	    -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  		filter: grayscale(100%); /* FF 35+ */
	    &:hover, &.active{
	    	-webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
	    	filter: grayscale(0%); /* FF 35+ */
	    }
		.et_pb_blurb_content{
			padding: 0 5px;
			.et_pb_main_blurb_image{
				margin: 0;
			}
			cursor: pointer;
			h4{
				color: $bodyColor;
				font-family: $basefont_bold;
				font-size: 0.875rem;
				text-align: left;
				line-height: 1;
			}
		}
	}
	.bio-text{
		display: none;
	}	
	@media all and (max-width: $break_mini) {
		.bio-block{
		width: 50%; float: left;	
	}
	}
}



.ingredients-wrapper{
	h5{
		color: $colors_sedondary_cta;
		font-family: $basefont_bold;
		font-size: 1rem;
		letter-spacing: 0;
	}
}

.qualified-canidates{
	h4{
		color: $colors_primary_highlight;
		font-family: $basefont_bold;
		font-size: 1rem;
	}
}
.seven-steps{
	h3{
		color: $colors_sedondary_cta;
		font-family: $basefont_bold;
		font-size: 1rem;
	}
}



@media only screen and ( min-width: $break_mid_min ) {
   .mission-vision{
	//@include vertical-align();
}
}

.fullmenubtn{
	padding-top: 10px;
}
.timeline-horizontal{

}
.timeline-vertical{
	text-align: center;
	max-width: 75%;
}


.award-winning-carousel{
	h3{
		display: none;
	}
	img{
		width: 200px;
	}
}

.get-started-module,.get-started-cta-row{
	img{
		cursor: pointer;
		max-width: 110px;
	}
	a{
		cursor: pointer;
		max-width: 110px;
		&:hover{
			cursor: pointer;
	    	content: url(assets/images/getstarted-button-hover.png);
	    }
	}
}

.faq-outer-wrapper{
    .faq-accordian-wrapper{
    	.et_pb_toggle_close{
    			h5.et_pb_toggle_title{
    				font-family: $basefont_bold;
    				color: $colors_black;

    			}
    		} 
    	h5{
			font-family: $basefont_bold;
			font-size: 1rem;
			letter-spacing: 0;
			&::before{
    			content: '\4c';
    			color: $colors_primary_highlight;
    		}
    	}
    	.et_pb_toggle{
    		border: none;
    		border-top: 1px solid $colors_primary_highlight;
    		margin-bottom: 0;

    	}
    	.et_pb_toggle_close{
    		background-color: transparent;
    	}
    }
}

