/***
 *     .d888                  888             
 *    d88P"                   888             
 *    888                     888             
 *    888888 .d88b.  88888b.  888888 .d8888b  
 *    888   d88""88b 888 "88b 888    88K      
 *    888   888  888 888  888 888    "Y8888b. 
 *    888   Y88..88P 888  888 Y88b.       X88 
 *    888    "Y88P"  888  888  "Y888  88888P' 
 *                                            
 *                                            
 *                                            
 */

@font-face {
	font-family: 'DIN-regular';
	src: url('assets/fonts/DIN-regular.eot');
	src: local('assets/fonts/DIN-regular'), local('assets/fonts/DIN-regular'),
		url('assets/fonts/DIN-regular.eot?#iefix') format('embedded-opentype'),
		url('assets/fonts/DIN-regular.woff') format('woff'),
		url('assets/fonts/DIN-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DIN-bold';
	src: url('assets/fonts/DIN-bold.eot');
	src: local('assets/fonts/DIN-bold'), local('assets/fonts/DIN-bold'),
		url('assets/fonts/DIN-bold.eot?#iefix') format('embedded-opentype'),
		url('assets/fonts/DIN-bold.woff') format('woff'),
		url('assets/fonts/DIN-bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Dirty';
	src: url('assets/fonts/DirtyHeadline.eot');
	src: local('assets/fonts/DirtyHeadline'), local('assets/fonts/DirtyHeadline'),
		url('assets/fonts/DirtyHeadline.eot?#iefix') format('embedded-opentype'),
		url('assets/fonts/DirtyHeadline.woff') format('woff'),
		url('assets/fonts/DirtyHeadline.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ZapfDingbats';
	src: local('assets/fonts/ZapfDingbats'), local('assets/fonts/ZapfDingbats'),
		url('assets/fonts/ZapfDingbats.woff') format('woff'),
		url('assets/fonts/ZapfDingbats.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}