// FORMS 

.short-form-section-wrapper{
	border-top: 2px solid $colors_primary;
	border-bottom: 2px solid $colors_primary;
}
/*** REMOVE LABEL ON FIELDS USING PLACEHOLDER ***/
.gform_wrapper .top_label .gfield_label,
.gform_wrapper .field_sublabel_below .ginput_complex.ginput_container label {
 display: none !important;
}

/*** FIELD STYLING ***/
// left
#input_2_5_1_container, #input_2_5_4_container,.formleft{
	width: 49.5%;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    margin: .5em -4px .5em 0;
    padding-right: 8px;
}
//right
#input_2_5_3_container, #input_2_5_5_container,.formright{
	display: inline-block;
    vertical-align: top;
    width: 49.5%;
    padding-right:0;
    padding-left: 8px;
    float: none;
    margin: .5em 0 .5em 0;
    margin-right: 0;
}

.gform_wrapper,.form_wrapper{
	margin:0;
	.gform_body,.form_body{
		input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
		 	border: 2px solid $colors_primary_highlight;
			height: 35px;
		    background-color: rgba(255,255,255,.2);
		    font-family: $basefont_bold;
		    color: $colors_primary;
            width: 99%;
		    //padding-left: 6px;
		}
	}

	.gform_footer, .form-footer{
		text-align: center;
	
		input.button, input[type=submit] {
            margin-top: 1em;
			background-color: $colors_nav;
			color: $colors_white;
			font-family: $headerfont;
			float: none;
			border: none;
			padding: .5em 1.25em;
            font-size: 1.25em;
			cursor: pointer;
			&:after{
				content: '';
			}
			&:hover{

			}
		}
	}
	select {
	    position: relative;
	    -webkit-appearance: none;
	    -moz-appearance: none;
	    appearance: none;
	    background: $colors_white;
	    border: 2px solid $colors_primary_highlight;
	    outline: none;
	    font-size: 1rem;
	    //font-family: $basefont_bold !important;
	    padding: 5px 4px;
	    margin: 0;
	    border-radius: 0;
	    cursor: pointer;
	    height: 35px;
        width: 99%;
		background: url('assets/images/dropdown-arrow.png') no-repeat;  /*Adds background-image*/
		background-position: 97%  center;
		//width: 100px; /*Width of select dropdown to give space for arrow image*/
		text-indent: 0.01px; /* Removes default arrow from firefox*/
		text-overflow: "";  /*Removes default arrow from firefox*/
	  }
}
.interested-check-wrapper{
	margin-top: 0;
}


// CHECK BOXES 
input[type=checkbox] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    cursor: pointer;
}
input[type='checkbox']+label {
    font-family: $basefont;
    position: static;
    height: auto;
    text-transform: none;
    margin-top: 10px;
    white-space: nowrap;
    pointer-events: none;
    &:before{
    	content: '';
	    background-color: transparent;
	    border: 2px solid $colors_primary_highlight;
	    display: inline-block;
	    height: 10px;
	    margin-top: -4px;
	    margin-right: 9px;
	    vertical-align: middle;
	    width: 10px;
	    pointer-events: auto;
    	cursor: pointer;
    }
    
}
input[type='checkbox']:checked+label:before {
	    background-color: $colors_primary_cta;
	    
	}
/*
input[type='checkbox']:checked+label:before {
    background-color: $colors_primary_highlight;
    border: 2px solid $colors_primary_cta;
    height: 10px;
    width: 10px;
}
*/
