/***
 *    888                               
 *    888                               
 *    888                               
 *    88888b.   .d88b.  888d888 .d88b.  
 *    888 "88b d8P  Y8b 888P"  d88""88b 
 *    888  888 88888888 888    888  888 
 *    888  888 Y8b.     888    Y88..88P 
 *    888  888  "Y8888  888     "Y88P"  
 *                                      
 *                                      
 *                                      
 */
$animationDelay: 0.1s;
$animationTime : 4s;

.hero-wrappper{
	overflow: hidden;
	width: 100%;
	.hero-image{
		position: absolute;
	    // left: 50%;
	    // top: 50%;
	    // transform: translate(-50%,-50%);
	    -webkit-transform-origin: top center;
	    transform-origin: top center;
	    -webkit-animation: scaleout $animationTime $animationDelay 1 ease-in forwards;
	    animation: scaleout $animationTime $animationDelay 1 ease-in forwards;
	    -webkit-transform: scale(2); 
	    transform: scale(2);
	    -webkit-animation-fill-mode: forwards;
	    animation-fill-mode: forwards; 
	    -webkit-transition-delay: $animationDelay; 
    	transition-delay: $animationDelay;
    	top: 0;
	}
	.hero-text-image{
		position: relative;
		top:0;
		right:0;
		left:0;
		opacity: 0;
		-webkit-animation: fadein $animationTime $animationDelay 1 ease-in forwards; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein $animationTime $animationDelay 1 ease-in forwards; /* Firefox < 16 */
        -ms-animation: fadein $animationTime $animationDelay 1 ease-in forwards; /* Internet Explorer */
         -o-animation: fadein $animationTime $animationDelay 1 ease-in forwards; /* Opera < 12.1 */
            animation: fadein $animationTime $animationDelay 1 ease-in forwards;


        z-index: 11;

	}
	.hero-dim { background-color: black; opacity: 0; width: 100%; height: 100%; position: absolute; left: 0; top: 0;
		opacity: 0;
		-webkit-animation: fadein-dim $animationTime $animationDelay 1 ease-in forwards; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein-dim $animationTime $animationDelay 1 ease-in forwards; /* Firefox < 16 */
        -ms-animation: fadein-dim $animationTime $animationDelay 1 ease-in forwards; /* Internet Explorer */
         -o-animation: fadein-dim $animationTime $animationDelay 1 ease-in forwards; /* Opera < 12.1 */
            animation: fadein-dim $animationTime $animationDelay 1 ease-in forwards; 


        
	}
	.hero-grunge{
		position: absolute;
		bottom: 0;
		left:0;
		right:0;
		z-index: 12;
	}


	// animations

	// zoom
	@-webkit-keyframes scaleout {
	    100% {
	        -webkit-transform: scale(1); 
	    }
	}
	@keyframes scaleout {
	    100% {
	        transform: scale(1); 
	    }
	}
	@-webkit-keyframes fadeInFull{
	    100% {
	        -webkit-transform: opacity(1); 
	    }
	}



	// fade in
	@keyframes fadein {
	    from { opacity: 0; }
	    to   { opacity: 1; }
	}

	/* Firefox < 16 */
	@-moz-keyframes fadein {
	    from { opacity: 0; }
	    to   { opacity: 1; }
	}

	/* Safari, Chrome and Opera > 12.1 */
	@-webkit-keyframes fadein {
	    from { opacity: 0; }
	    to   { opacity: 1; }
	}

	/* Internet Explorer */
	@-ms-keyframes fadein {
	    from { opacity: 0; }
	    to   { opacity: 1; }
	}

	/* Opera < 12.1 */
	@-o-keyframes fadein {
	    from { opacity: 0; }
	    to   { opacity: 1; }
	}


	// fade in half
	@keyframes fadein-dim {
	    from { opacity: 0; }
	    to   { opacity: 0.3; }
	}

	/* Firefox < 16 */
	@-moz-keyframes fadein-dim {
	    from { opacity: 0; }
	    to   { opacity: 0.3; }
	}

	/* Safari, Chrome and Opera > 12.1 */
	@-webkit-keyframes fadein-dim {
	    from { opacity: 0; }
	    to   { opacity: 0.3; }
	}

	/* Internet Explorer */
	@-ms-keyframes fadein-dim {
	    from { opacity: 0; }
	    to   { opacity: 0.3; }
	}

	/* Opera < 12.1 */
	@-o-keyframes fadein-dim {
	    from { opacity: 0; }
	    to   { opacity: 0.3; }
	}

	


}

        // .herowrap * { transition-duration: $animationTime $animationDelay 1 ease-in forwards; transition-timing-function: ease; }
        // .herowrap { height: 674px; width: 1500px; overflow: hidden; position:relative; text-align: center; }
        // #hero { width: 3000px; position:absolute; left: -800px; right: -800px; text-align: center; vertical-align: middle; }
         #dim { background-color: black; opacity: 0; width: 100%; height: 100%; position: absolute; left: 0; top: 0;}
        // #txt { height: 100%; width: 100%; opacity: 0; position: absolute; left: 0; top: 0;}
        // .step2 { width: 1500px !important; left: 0 !important; right: 0 !important; }
        // .dim2 { opacity: .5 !important; }
        // .txt2 { opacity: 1 !important;}