
/***
 *                               
 *                               
 *                               
 *    88888b.   8888b.  888  888 
 *    888 "88b     "88b 888  888 
 *    888  888 .d888888 Y88  88P 
 *    888  888 888  888  Y8bd8P  
 *    888  888 "Y888888   Y88P   
 *                               
 *                               
 *                               
 */
// setting max width of the site for header
#main-header, #top-header{
	max-width: $sitemaxwidth;
	margin: 0 auto;
}




.et_mobile_menu {
    overflow: scroll !important;
    max-height: 83vh;
}

// hide search 
#et_top_search { display: none; }

// overwrite 
.et_header_style_left #et-top-navigation nav>ul>li>a{
	//padding-bottom: 0;
	transition: none;
	opacity: 1;
}

// header NAV
#top-menu-nav,#et_mobile_nav_menu{
	li{
		text-align: center;
		font-family: $headerfont;
		font-size: 1.125rem;
		color: $colors_nav !important;
		vertical-align: middle;
		font-weight: normal;
		//background-color: red;
		padding-right:10px;
		&.current-menu-item > a, &.current-menu-item > a .breakdesktop{
			color: $colors_nav !important;
		}
		&.current-menu-item > a{
			background-image: url(assets/images/selector_green.png);
		    background-repeat: no-repeat;
		    background-position: center;
		    color: $colors_nav !important;
		    background-size: 100% 20%;
		    background-position: 50% 50%;
		    cursor: pointer;
		    transition: none;
		}
		a{
			font-size: 1.125rem;
			color: $colors_nav !important;
			padding: 0 8px;
			font-weight: normal;

			&:hover, &:active{
				background-image: url(assets/images/selector_green.png);
			    background-repeat: no-repeat;
			    background-size: 100% 20%;
		     	background-position: 50% 50%;
			    color: $colors_nav !important;
			    cursor: pointer;
			    transition: none;
			    .breakdesktop{
			    	color: $colors_nav !important;
			    }
			}
			.breakdesktop{
				color: $colors_nav !important;
			}
			.getstarted{
				background-image: url(assets/images/getstarted-button.png);
			    background-repeat: no-repeat;
			    color: transparent;
			    cursor: pointer;
			    -webkit-transition: none;
			    transition: none;
			    width: 122px;
			    height: 40px;
			    display: block;
			    background-size: cover;
			    margin-top: -20px;
			    image-rendering: -webkit-optimize-contrast;
			    &:hover{
			    	background-image: url(assets/images/getstarted-button-hover.png);
			    }
			}
		}
		&:last-child{
			&.current-menu-item > a, a:hover, a:active{
				background: none;
			}
		}
	}
}

// FIXED HEADER
#main-header.et-fixed-header {
        top: 0 !important;
  }
.et-fixed-header{
	#et-top-navigation{
		padding-top:20px !important;
		 nav > ul > li{
			line-height: 1;
			color: $colors_nav !important;
			vertical-align: middle;
			&.current-menu-item > a{
					
				    background-position: 50% 56%;
				    
				}
				a{
			
					&:hover, &:active{
						
				     	background-position: 50% 56%;
					    
					}
		
        	}
			a,.breakdesktop{

				color: $colors_nav !important;
				.getstarted{
				    width: 110px;
    				height: 34px;
				    margin-top: -20px;
				}
			}
		}
	}
	#et_mobile_nav_menu{
		
		.mobile_menu_bar{
			padding-top: 10px;
			padding-bottom: 10px !important;
		}
	}
	#logo{
		// max-height: 65%;
		// height: 65%
	}
}

// mobile
#et_mobile_nav_menu{
	li{
		&.current-menu-item > a{
			opacity: 1;
				background-color: rgba(0,0,0,0.0);
				background-position: 50% 77%;
				background-size:100% 35%;
		}
		a{
			width: max-content;
		    margin: 0 auto;
			padding: 8px;
			&:hover, &:active{
				opacity: 1;
				background-color: rgba(0,0,0,0.0);
				background-position: 50% 77%;
				background-size:100% 35%;
			}
			.getstarted{
				display: inline-block;
			}
		}
	}
}
// fixed mobile
@media (max-width: 980px) {
	.et_non_fixed_nav.et_transparent_nav #main-header, .et_non_fixed_nav.et_transparent_nav #top-header, .et_fixed_nav #main-header, .et_fixed_nav #top-header {
    	position: fixed !important;
    }
    #page-container, .et_fixed_nav.et_show_nav #page-container{
    	padding-top: 80px !important;
    }
    #main-header{

    	top:0 !important;
    } 
    // #top-header{
    // 	display: none;
    // }
}
// full width mobile menu
@media (max-width: 980px) {
 .container.et_menu_container,#top-header .container { 
 width: calc( 100% - 60px);
 }
}

.et_mobile_menu {
 margin-left: -30px;
 padding: 5%;
 width: calc( 100% + 60px);
 border: none;
}

.mobile_nav.opened .mobile_menu_bar:before {
 content: "\4d";
}



/* desktop in portrait mode (768-980px) */
@media only screen and ( min-width: $break_large ) { 
    #top-menu{
		li{
			font-size: 1.25rem;
			padding-right: 22px;
			&.current-menu-item > a, &.current-menu-item > a .breakdesktop{
			}
			a{
				font-size: 1.25rem;
				&:hover, &:active{
					
				    .breakdesktop{
				    }
				}
			}
		}
	
	}
	
}
/* Tablets in portrait mode (768-980px) */
@media only screen and ( min-width: $break_mid_min ) { 
    #top-menu{
		li{
			&.current-menu-item > a, &.current-menu-item > a .breakdesktop{
			}
			a{
				
				&:hover, &:active{
					
				    .breakdesktop{
				    }
				}
			}
		}
	}
	.breakdesktop{
		display: block;
	}
}



/***
 *    888                          888                             888                  
 *    888                          888                             888                  
 *    888                          888                             888                  
 *    888888 .d88b.  88888b.       88888b.   .d88b.   8888b.   .d88888  .d88b.  888d888 
 *    888   d88""88b 888 "88b      888 "88b d8P  Y8b     "88b d88" 888 d8P  Y8b 888P"   
 *    888   888  888 888  888      888  888 88888888 .d888888 888  888 88888888 888     
 *    Y88b. Y88..88P 888 d88P      888  888 Y8b.     888  888 Y88b 888 Y8b.     888     
 *     "Y888 "Y88P"  88888P"       888  888  "Y8888  "Y888888  "Y88888  "Y8888  888     
 *                   888                                                                
 *                   888                                                                
 *                   888                                                                
 */


// UPPER HEADER BAR ABOVE NAV
#top-header{
	&.et-fixed-header {
        display: none;
        height: 0;
    }
	background-color: transparent !important;
	#et-info{
		float: right;
		padding-bottom: 0;
	}
	a{
		vertical-align: top;
		font-weight: normal;
	}
	#et-info-email{
		font-family: $headerfont  !important;
		color: $colors_nav;
		font-weight: normal;
		width: 28px;
		height: 12px; 
		display: inline-block;
		overflow: hidden;
		vertical-align: top;
		&:before{
			vertical-align: top;
			font-family: $headerfont  !important;
			color: $colors_primary;
			content: "email";
			font-weight: normal;
		}
	}
	#et-info-phone{
		font-family: $headerfont !important;
		color: $colors_nav;
		font-weight: normal;
		width: 23px;
		height: 12px; 
		display: inline-block;
		overflow: hidden;
		vertical-align: top;
		&:before{
			top:0;
			vertical-align: top;
			font-family: $headerfont  !important;
			color: $colors_primary;
			content: "call";
			font-weight: normal;
		}
	}
}
@media only screen and ( min-width: $break_mid_min ) { 
	#top-header{
		background-color: $colors_lighter !important;
		#et-info{
		}
		#et-info-email{
			display: inline;
			width: auto;
			height: auto;
			&:before{
				
			}
		}
		#et-info-phone{
			display: inline;
			width: auto;
			height: auto; 
			&:before{
				
			}
		}
	}
}

/***
 *     .d888                  888                    
 *    d88P"                   888                    
 *    888                     888                    
 *    888888 .d88b.   .d88b.  888888 .d88b.  888d888 
 *    888   d88""88b d88""88b 888   d8P  Y8b 888P"   
 *    888   888  888 888  888 888   88888888 888     
 *    888   Y88..88P Y88..88P Y88b. Y8b.     888     
 *    888    "Y88P"   "Y88P"   "Y888 "Y8888  888     
 *                                                   
 *                                                   
 *                                                   
 */
// hiding footer bottom as we are not using it, and using a custom footer
#footer-bottom{display: none;}

// FOOTER -lower footerwrapper with legal
#footer_lower_wrapper{
	padding: 0;
	.et_pb_row{
		padding-top: 0.5rem;
	}
	#footer_lower{
		.footer_legal, .legal_footer, a{
			color:$colors_nav;
			font-size:0.75rem;
			line-height: 1;
		}
		a{
			font-family: $basefont_bold;
		}
		.footer_legal_links_wrapper{
			text-align: center;
		}

	}

}
@media only screen and ( min-width: $break_mid_min ) { 
	#footer_lower_wrapper{
		.et_pb_row{
		}
		#footer_lower{
			.footer_legal, .legal_footer, a{
				
			}
			a{
			}
			.footer_legal_links_wrapper{
				text-align: right;
			}

		}

	}

}

// FOOTER NAV
.bottom-nav{
	.footerlogo{
		width: 100px;
    	margin: 0;
    	display: inline-block;
	}
    
	li{
		//width: 45%;
		box-sizing: border-box;
		text-align: left;
		font-family: $basefont;
		font-size: 0.875rem;
		line-height: 1;
		font-weight: normal;
		vertical-align: middle;
    	display: inline-block;
		text-transform: uppercase;
		color: $colors_primary;
		padding-left:1em;
		padding-right:0;
		padding-bottom:1em;
		box-sizing: border-box;
		&.current-menu-item > a{
			color: #443525 !important;
		}
		a, current-menu-item > a{
			font-size: 0.875rem;
			line-height: 1;
			color: $colors_primary;
            font-weight: bold; 
			&:hover, &:active{
				opacity: 1;
                
			    color: #443525;
			    cursor: pointer;
			    transition: none;
			}
			.breakdesktop{
				color: $colors_primary;
			}
		}
		&:last-child{
			padding-right:0 !important;
		}
		&:first-child{
			width:100%;
			text-align: center;
		}
	}
}

@media only screen and ( min-width: $break_mid_min ) { 
	.bottom-nav{
		display: flex;
		.footerlogo{
			margin-left: 20px;
		}
	    
		li{
			width: auto;
			text-align: center;
			padding-left:0;
			padding-right:22px;
			padding-bottom:0;
			display: flex;
			flex-grow: 1;
			&.current-menu-item > a{
				
			}
			a, current-menu-item > a{
				font-weight: bold; 
				&:hover, &:active{
					opacity: 1;
				}
				.breakdesktop{
					
				}
			}
			&:first-child{
				width:auto;
				text-align: center;
			}
		}
	}
}