.blog-sidebar, #sidebar{
	border: 0;
	.et_pb_widget{
		
		h4{
			color: $colors_nav;
			text-align: left;
			font-family: $basefont_bold;
			line-height: 1;
			margin:0;
		}
		ul > li > a{
			color: $colors_nav;
		}
	}
}
.blog-wrapper{
	article{
		text-align: center;
	}
	.post-content{
		text-align: left;
		line-height: 1.25rem;

	}
	.post-meta{
		margin: 0;
		font-family: $basefont_bold;
		color: $colors_primary !important;
	}
	.entry-title{
		color: $colors_primary;
		text-align: left;
		font-family: $basefont_bold;
		padding: 0;
	}
	@media all and (min-width: 768px) {
		article, .post-meta{
			text-align: left;
		}
		img {
			float: left;
			margin-right: 1em;
		}
		h2{
			text-align: left;
		}
		article:after { /* Clear floated image */
			content: "";
			display: table;
			clear: both;
		}
	}
	 a.more-link{
		display: inline-block;
		clear: none;
	}
}
.single-post{
	h1{
		text-align: left;
	}
	.entry-content{
		margin-top: 0;
		margin-bottom: 0;
		padding-top: 0;
		padding-bottom: 0;
		.et_pb_section{
			margin-top: 0;
			margin-bottom: 0;
			padding-top: 0;
			padding-bottom: 0;
		}
	}
}
// in the news
$home-news-margin-left :0;
.stay-connected-footer-wrapper{
	margin-top: 0;
	
}


.stay-connected-home-footer{
	margin-left:$home-news-margin-left;
	height: 280px;
	.subfooter-exterior{
		width: 400px;
		position: absolute;
		bottom: 0;
		right: 0;
		display: none;
	}
	.stay-connected-home{
		position: absolute;
		left: 10%;
		bottom:50px;
		.stay-connected-header{
			float: left;
			padding:2px;
		}
		.social-icon-wrapper{
			display: inline-block
		}
		.stay-connected-social-icon{
			margin-left: 10px;
			width: 25px;
			height: 25px;
			float: left;
			a{
				&:hover{
					opacity: 0.8;
				}
			}
		}
	}
	.in-the-news-wraper{
		//width: 60%;
		background: $colors_white;
		border: 2px solid $colors_nav;
		margin-left:$home-news-margin-left;
		position: absolute;
		left:10%;
		right:10%;
		top:20px;

		margin-bottom: 1rem !important;
		h3{
			background-color: $colors_nav;
			color: $colors_white;
			padding:5px;
		}
		
		.display-posts-listing{
			list-style-type:none;
			padding: 20px 10px;
            max-height: 10em;
            overflow-y: scroll;
			.listing-item{
				a{
					color: $bodyColor;
					&:after{
						//font-size: 0.875rem;
						content: "  READ MORE >>";
						color: $colors_menu_tertiary1;
						font-family: $basefont;
					}
				}
			}

		}
	}
	
	.subfooter-grunge{
		width: 100%;
		height: 100%;
		position: absolute;
		bottom: 0;
		background-image: url(assets/images/grunge_divider_short.png);
 		background-repeat: no-repeat;
 	  	background-position: right bottom;
		background-size: contain;
	}
	// tablet
	@media only screen and ( min-width: $break_small_min ) { 
		.subfooter-exterior{
			display: block;
		}
		.in-the-news-wraper{
			width: 60%;
		}
		.subfooter-social{
			
		}
		
		.subfooter-grunge{
			
		}

	
	}
// desktop
@media only screen and ( min-width: $break_mid_min ) { 
	.subfooter-wrapper{
		.subfooter-exterior{
			
		}
		.subfooter-social{
			.subfooter-social{
			
			.social-innerwrapper{
				
				 .stay-connected-header{
				}
				.stay-connected-social-icon{
					
				}
			}
		}
		}
		
		.subfooter-grunge{
			
		}
	}
}
}


















.subfooter-wrapper{
	height: 150px;
	.subfooter-exterior{
		width: 400px;
		position: absolute;
		top: -40px;
		right: 0;
		display: none;
	}
	.subfooter-social{
		//padding: 20px;
		.social-innerwrapper{
			 overflow: hidden;
			 text-align: center;
			 .stay-connected-header{
				text-align: center;
			}
			.stay-connected-social-icon{
				margin-right: 10px;
				width: 25px;
				height: 25px;
				//float: left;
				display: inline-block;
				a{
					&:hover{
						opacity: 0.8;
					}
				}
			}
		}
	}
	.subfooter-cta{
		padding: 20px;
		width: 100%;
		float: none;
	    padding-top: 1 rem;
	    text-align: center;
	    margin: 0 auto;
	    //height: 100%;
	    right:auto;
	    text-align: center;
	    .cta-innerwrapper{
	    	
	    	margin: 0 auto;
	    	
	    }
	}
	.subfooter-grunge{
		width: 100%;
		height: 100%;
		position: absolute;
		bottom: 0;
		background-image: url(assets/images/grunge_divider_short.png);
 		background-repeat: no-repeat;
 	  	background-position: right bottom;
		background-size: contain;
	}
	&.no-cta{
			.subfooter-social{
				top:0;
				position: absolute;
				height: 100%;
				width: 100%;
				.social-innerwrapper{
					@include vertical-align();
					 .stay-connected-header{
					}
					.stay-connected-social-icon{
						
					}
				}
			}
		}
}
// tablet
@media only screen and ( min-width: $break_small_min ) { 
	.subfooter-wrapper{
		height: 200px;
		.subfooter-exterior{
			display: block;
		}
		.subfooter-social{
			// padding: 0;
			height: 100%;
			position: absolute;
			left:10%;
			top:10%;
			text-align: left;
			.social-innerwrapper{
				text-align: left;
				@include vertical-align();
				 .stay-connected-header{
				 	text-align: left;
				}
				.stay-connected-social-icon{
					
				}
			}
		}
		.subfooter-cta{
			text-align: left;
			left:10%;
			padding-left:0;
			top:10%;
		 //    float: right;
		 //    width: 40%;
		 //    right: 10%;
		    
		    .cta-innerwrapper{
		    	//@include vertical-align();
		    }
		}
		.subfooter-grunge{
			
		}

	}
}
// desktop
@media only screen and ( min-width: $break_mid_min ) { 
	.subfooter-wrapper{
		.subfooter-exterior{
			
		}
		.subfooter-social{
			.subfooter-social{
			top:0;
			position: absolute;
			height: 100%;
			.social-innerwrapper{
				@include vertical-align();
				 .stay-connected-header{
				}
				.stay-connected-social-icon{
					
				}
			}
		}
		}
		.subfooter-cta{
			height: 100%;
		    float: none;
		    left: 0;
		    padding: 0;
		    right:auto;
	    	text-align: center;
		    .cta-innerwrapper{
		    	@include vertical-align();
		    }
		}
		.subfooter-grunge{
			
		}
	}
}

