/***
 *    888             888      888                   
 *    888             888      888                   
 *    888             888      888                   
 *    888888  8888b.  88888b.  888  .d88b.  .d8888b  
 *    888        "88b 888 "88b 888 d8P  Y8b 88K      
 *    888    .d888888 888  888 888 88888888 "Y8888b. 
 *    Y88b.  888  888 888 d88P 888 Y8b.          X88 
 *     "Y888 "Y888888 88888P"  888  "Y8888   88888P' 
 *                                                   
 *                                                   
 *                                                   
 */
.basic-table{
    h6{
        color: $colors_primary;
        font-family: $basefont_bold;
        font-size: 1rem;
        letter-spacing: normal;
    }
    text-align: center;
    table, th, td { font-size: 12px; border: 1px solid $colors_primary;}
    table{
        text-align: left;
        background: $colors_white;
        width: 80%;
        margin: 0 auto;
        table-layout: fixed;
        color: $colors_primary;
        th{
            //width: 25%;
            font-family: $basefont_bold;
            text-align: center;
            color: $colors_primary;
            padding:2px 3px 0px 3px;
            line-height: 1;
        }
        td{
            //width: 25%;
            padding:2px 3px 0px 3px;
            line-height: 1;
            &.centertext{
                text-align: center;
            }
            &.boldtext{
                font-family: $basefont_bold;
            }
        }
        tr td:first-child,tr th:first-child   { 
            width:50%; 
        }

    }
    @media all and (max-width: 767px) {
        table {
            width: 100%;
        }
    }


}