

// fonts
$basefont: 'DIN-regular';
$basefont_bold: "DIN-bold";
$headerfont: 'Dirty';

$dingbatsfont: "ZapfDingbats";

$bodyFontSize: 16px;

// site max width
$sitemaxwidth: 100%;

// colors
$bodyColor : $colors_primary;

/*

9px		0.563em
10px	0.625em
11px	0.688em
12px	0.750em
13px	0.813em
14px	0.875em
15px	0.938em
16px	1.000em
17px	1.063em
18px	1.125em
19px	1.188em
20px	1.250em
21px	1.313em
22px	1.375em
23px	1.438em
24px	1.500em
26px	1.625em
28px	1.750em
30px	1.875em
32px	2.000em
35px	2.188em
36px	2.250em
40px	2.500em
45px	2.813em
64px	4.000em
82px	5.125em
*/

$break_extraLarge : 1405px;
$break_large: 1100px;
$break_mid: 980px;
$break_mid_min: 981px;
$break_small_min: 768px;
$break_small: 767px;
$break_mini_min: 480px;
$break_mini: 479px;
/*
DIVI BREAKPOINTS
*/
/* Large screens (1405px upwards) */
@media only screen and ( min-width: $break_extraLarge ) { 
    /* your css goes here */
}

/* Laptops and desktops (1100-1405px) */
@media only screen and ( min-width: $break_large ) and ( max-width: $break_extraLarge) { 
    /* your css goes here */
}

/* Tablets in landscape mode (981-1100px) */
@media only screen and ( min-width: $break_mid_min ) and ( max-width: $break_large ) { 
    /* your css goes here */
}

/* Tablets in portrait mode (768-980px) */
@media only screen and ( min-width: $break_small_min ) and ( max-width: $break_mid ) {
    /* your css goes here */
}

/* Smartphones in landscape mode (480-768px) */
@media only screen and ( min-width: $break_mini_min ) and ( max-width: $break_small ) {
    /* your css goes here */
}

/* Smartphones in portrait mode (0-479px) */
@media only screen and ( max-width: $break_mini ) {
    /* your css goes here */
}
